[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet
